/* .background {
    width: 100dvw;
    height: 100dvh;
    opacity: 0.5;
} */

.details {
    display: flex;
    gap: 2em;
    margin: 2em;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 70%;
}

h1 {
    color: white;
    font-size: 72px;
}

.story {
    color: white;
    font-size: larger;
    margin: 1em 0;
    max-width: 60ch;
}

input[type="submit"] {
    cursor: pointer;
    font-size: 22px;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: #222;
    color: #0f0;
    margin-top: 0.5em;
}

aside img {
 max-width: 100%;
}