.profile {
    min-height: 80dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-container {
    background-color: #222;
    border-radius: 1em;
    max-width: 800px;
    min-height: 300px;
}

.profileSection {
    display: flex;
    color: white;
    gap: 1em;
    margin: 2em 5em;
}

.profileMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50ch;
}

.profileSection h1 {
    font-size: 34px;
}

.profileSection p {
    color: rgb(152, 142, 131);
    font-size: 18px;
    margin: 0.3em 0;
}

.profileAside {
    margin-left: 3em;
}

.profileAside p {
    text-align: end;
}

.profileAside img {
    border-radius: 50%;
    width: 70%;
}

.profileMain .inputBox {
    font-size: 18px;
    color: rgb(152, 142, 131);
}

.profileMain .inputBox label {
    display: block;
}

.profileMain .inputBox input[type="text"] {
    font-size: 20px;
    background-color: #333;
    color: rgb(239, 233, 225);
    border: none;
    outline: none;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    margin: 0.3em 0;
    cursor: default;
}